@font-face {
    font-family: 'Lancelot';
    src: url(Lancelot-Regular.ttf);
}

h1 {
    font-family: 'Lancelot';
    font-size: 50px;
    font-weight: 100;
}

h2 {
    font-family: 'Lancelot';
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 100;
    position: absolute;
    display: flex;
    transform: translate(-25%, -50%);
}

h3 {
    font-family: 'Lancelot';
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}
.first-section {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("img/aerial-photography-houses-green-field-viewing-mountain-white-gray-sky-daytime.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    height: 130px;
    width: 130px;
    background-color: rgba(217, 217, 217, 255);
    border-radius: 50%;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.2s linear;
}

.circlevk, .circletg {
    height: 90px;
    width: 90px;
    background-color: rgba(217, 217, 217, 255);
    border-radius: 50%;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.2s linear;
}

.bigcircle{
    height: 300px;
    width: 300px;
    background-color: rgba(217, 217, 217, 255);
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectanglelogo, .rectanglesearch {
    background-color: rgba(217, 217, 217, 255);
    border-radius: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle3 {
    background-color: rgba(217, 217, 217, 255);
    border-radius: 30px;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.2s linear;
}

.rectangle4 {
    background-color: rgba(82, 82, 82, 255);
    border-radius: 20px;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: filter 0.2s linear;
}

.rectangle5, .rectangle6 {
    background-color: rgba(82, 82, 82, 255);
    border-radius: 20px;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    cursor: pointer;
    transition: filter 0.2s linear;
}

.circle:hover, .circlevk:hover, .circletg:hover {
    filter: brightness(80%);
}

.rectangle3:hover {
    filter: brightness(80%);
}

.rectangle4:hover, .rectangle5:hover, .rectangle6:hover {
    filter: brightness(110%);
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    transition: 0.7s ease;
    transform: translateX(-2000px);
}

.slide ul {
    list-style: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 300px;
    justify-content: center;
}

.slide ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: none;
    visibility: hidden;
}

.toggle {
    font-family: 'Lancelot';
    position: absolute;
    height: 90px;
    width: 300px;
    z-index: 1;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 255);
    transition: filter 0.2s linear;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1; 
    display: none; 
}

.toggle:hover {
    filter: brightness(80%);
}

.toggle .choose_a_tour {
    font-size: 30px;
}

.toggle .close {
    font-size: 30px;
    display: none;
}

input:checked ~ .toggle .choose_a_tour {
    display: none;
}

input:checked ~ .slide {
    background-color: rgba(200, 200, 200, 0.4);
}

input:checked ~ .overlay, input:checked ~ .toggle .close {
    display: block;
}

input:checked ~ .slide {
    transform: translateX(0);
}

input:checked ~ .bigcircle, input:checked ~ .h2 {
    display: none !important;
}

.toggle:active {
    filter: brightness(120%);
}

/* Конец первой секции */

.second-section {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), 
    url("img/fabrizio-conti-9CfajiGQL0o-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    height: 100vh;
}

.about-title {
    position: relative;
    transform: translate(-50%);
    top: 5%;
    left: 50%;
    color: #374a53;
    
}

.info-container {
    position: relative;
    top: 20%;
    left: 5%;
    background-color: white;
    height: 520px;
    width: 420px;
    border-radius: 15px;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.info-font {
    font-family: 'Lancelot';
    font-size: 30px;
}

.about-circle {
    height: 100px;
    width: 100px;
    background-color: #2b3f48;
    border-radius: 50%;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-rect {
    height: 220px;
    width: 120px;
    background: linear-gradient(to bottom ,
    #2b3f48 0%,
    #2b3f48 35%,
    white 35%,
    white 100%);
    padding: 15px;
    position: absolute;
    border-radius: 20px;
    justify-content: center;
}

.about-font-d {
    position: absolute;
    font-family: 'Lancelot';
    font-size: 60px;
    color: white;
    z-index: 1;
}


.about-font-l {
    position: absolute;
    
    font-family: 'Lancelot';
    font-size: 30px;
}